.htaccess 
.user.ini
.php.ini
wordpress/
images/ 
videos/ 
keys/
logs/logs 
assets/ 
/vendor/*
!vendor/autoload.php
/vendor/composer

# Explicitly ignore the composer folder (redundant but ensures safety)
/vendor/composer/